In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
%matplotlib inline
from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score

In [33]:
df = pd.read_csv('cardataset.csv')

In [34]:
print("Train Data Summary\n \n ", df.isnull().sum())

Train Data Summary

  name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [35]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [36]:
df.columns

Index(['name', 'year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [39]:
df = df[['name', 'year','selling_price', 'km_driven','fuel', 'transmission']]

In [ ]:
df.head()

In [ ]:
print("Train Data Summary\n \n ", data.isnull().sum())

In [ ]:
X = df['year'].values.reshape(-1, 1)  # Independent variable (year) continues data 
y = df['selling_price'].values  # Dependent variable (price) continues data

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
# Create and fit the model
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
# Make predictions
y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

In [ ]:
print(y_pred_train)

In [ ]:
print(y_pred_test)

In [41]:
model = LogisticRegression()

In [42]:
# Setup variables
X = df['selling_price'].values.reshape(-1, 1)
le = LabelEncoder()
y = df['transmission']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)