In [8]:
with open('test.txt', 'r') as f1: print(f1.read())

create a class of stiudent and defalt paramert golan attraitbt, private and publiv and a methopd

In [12]:
f1 = open('tester.txt', 'w')
f1.close()

In [17]:
import os
if os.path.exists('not_there.txt'):
    with open('not_there.txt') as f1:
        content = f2.read()
        print(content)
else:
    print('file doesnt, exists')

file doesnt, exists

In [29]:
import pickle

data = ['name', 'Alice', 'age', 25, 'score', 90.5]

with open('data.pickle', 'wb') as file: 
    pickle.dump(data, file)

In [30]:
with open('data.pickle', 'rb') as file: 
    loaded_data = pickle.load(file)

print(loaded_data)

['name', 'Alice', 'age', 25, 'score', 90.5]

In [37]:
import pandas as pd 
from numpy.random import randn as rd
test = pd.Series([1,2,3,4,5,6])

test

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [35]:
pd.Series({'cites': 12, 'test': 14})

cites    12
test     14
dtype: int64

In [43]:
d = pd.DataFrame(rd(10, 5), [1,2,3,4,5,6,7,8,9,10], ['sin', 'cos', 'theta', 'alpha', 'tan'])
d

         sin       cos     theta     alpha       tan
1  -0.100414  0.480385 -0.678507 -0.198405  0.627907
2   2.761305  2.002120  0.568523  0.451867  1.300690
3   0.126874  1.660773  0.556995  0.420061 -1.349121
4   1.494229 -0.719470 -0.543538  0.753986  1.087704
5   0.851975 -0.010160  0.427212 -0.455445 -0.122233
6   0.541923  0.923739  1.378730 -1.920902  1.516845
7   0.196815  0.995548  0.963217 -1.801817  2.605768
8  -0.992641  1.105567  1.744000 -0.215445 -1.283954
9   0.222253 -0.907389 -0.105772  1.329575 -0.295301
10  0.137334  0.118111  1.025931  1.421024 -0.261337

In [44]:
d[['sin', 'cos']]

         sin       cos
1  -0.100414  0.480385
2   2.761305  2.002120
3   0.126874  1.660773
4   1.494229 -0.719470
5   0.851975 -0.010160
6   0.541923  0.923739
7   0.196815  0.995548
8  -0.992641  1.105567
9   0.222253 -0.907389
10  0.137334  0.118111