In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('kyphosis.csv')

In [4]:
df.head()

   Unnamed: 0 Kyphosis  Age  Number  Start
0           1   absent   71       3      5
1           2   absent  158       3     14
2           3  present  128       4      5
3           4   absent    2       5      1
4           5   absent    1       4     15

In [5]:
X = df.drop(df.columns[0], axis=1)

In [7]:
X

   Kyphosis  Age  Number  Start
0    absent   71       3      5
1    absent  158       3     14
2   present  128       4      5
3    absent    2       5      1
4    absent    1       4     15
..      ...  ...     ...    ...
76  present  157       3     13
77   absent   26       7     13
78   absent  120       2     13
79  present   42       7      6
80   absent   36       4     13

[81 rows x 4 columns]

In [8]:
import patsy
y = df['Kyphosis'].map({'present': 1, 'absent': 0})

In [9]:
y

0     0
1     0
2     1
3     0
4     0
     ..
76    1
77    0
78    0
79    1
80    0
Name: Kyphosis, Length: 81, dtype: int64

In [ ]:
X_train, X_test,y_train, y_test = train_test_split(X,y, test_size = 0.30)